.message-summary {
  font-family: @font-family-sans-serif;
  color: #555;
  margin-bottom: 2em;

  h4 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .related a {
    color: #555;
    font-weight: bold;
  }
}